/__Servis_Manager/build/
/__Servis_Manager/nbproject/private/
/Core/build/
/Core/nbproject/private/
/JFXChartGenerators/build/
/JFXChartGenerators/nbproject/private/
/JFXLib/build/
/JFXLib/nbproject/private/
/dist/
/___Servis_Radionica/build/
/___Servis_Radionica/nbproject/private/
/orig_Servis_Radionica/build/
/orig_Servis_Radionica/nbproject/private/
/Servis_Radionica/build/